.rodape {
  display: flex;
  justify-content: center;
  background-color: var(--preto);
  bottom: 0;
  position: fixed;
  width: 100%;
}

.rodape h2 {
  font-weight: 400;
  font-size: 18px;
  color: var(--branco);
}
